App.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="urn:schemas-microsoft-com:asm.v1" />
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="configSections">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="section">
								<xs:complexType>
									<xs:attribute name="name" type="xs:string" use="required" />
									<xs:attribute name="type" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="appSettings">
					<xs:complexType>
						<xs:sequence>
							<xs:element maxOccurs="unbounded" name="add">
								<xs:complexType>
									<xs:attribute name="key" type="xs:string" use="required" />
									<xs:attribute name="value" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SMBASection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SMBAQueries">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="SMBAQuery">
											<xs:complexType>
												<xs:attribute name="Number" type="xs:string" use="required" />
												<xs:attribute name="Description" type="xs:string" use="required" />
												<xs:attribute name="PMCmd" type="xs:string" use="required" />
												<xs:attribute name="PMCmdCode" type="xs:string" use="required" />
												<xs:attribute name="MSB" type="xs:unsignedByte" use="required" />
												<xs:attribute name="LSB" type="xs:string" use="required" />
												<xs:attribute name="PctTol" type="xs:unsignedByte" use="required" />
												<xs:attribute name="Units" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TestElementsSection">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TestElements">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TestElement">
											<xs:complexType>
												<xs:attribute name="Number" type="xs:string" use="required" />
												<xs:attribute name="Description" type="xs:string" use="required" />
												<xs:attribute name="LimitLow" type="xs:string" use="required" />
												<xs:attribute name="LimitHigh" type="xs:string" use="required" />
												<xs:attribute name="Units" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="system.web">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="membership">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="providers">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="add">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required" />
															<xs:attribute name="type" type="xs:string" use="required" />
															<xs:attribute name="serviceUri" type="xs:string" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="defaultProvider" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
							<xs:element name="roleManager">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="providers">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="add">
														<xs:complexType>
															<xs:attribute name="name" type="xs:string" use="required" />
															<xs:attribute name="type" type="xs:string" use="required" />
															<xs:attribute name="serviceUri" type="xs:string" use="required" />
															<xs:attribute name="cacheTimeout" type="xs:unsignedInt" use="required" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="defaultProvider" type="xs:string" use="required" />
									<xs:attribute name="enabled" type="xs:boolean" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="runtime">
					<xs:complexType>
						<xs:sequence>
							<xs:element xmlns:q1="urn:schemas-microsoft-com:asm.v1" ref="q1:assemblyBinding" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>